.container {
  width: 210px;
  height: 140px;
  position: relative;
  -webkit-perspective: 500;
}

#carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
}

#carousel figure {
  display: block;
  position: absolute;
  width: 150px;

  left: 10px;
  top: 10px;

}

